:root {
      --color-black: #000000;
      --color-dark-blue: #005F7A;
      --color-light-blue: #00A0A9;
      --color-red: #BF1919;
      --color-white: #FFFFFF;
      --font-primary: 'Krungthep', sans-serif;
      --font-secondary: 'Kufam', 'Arial', sans-serif;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      font-family: var(--font-secondary);
    }

/*meniu*/
    .header {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: var(--color-white);
    }

    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px 10px;
    }

    .logo-container {
      display: flex;
      align-items: center;
    }

    .logo-img img {
      height: 40px;
      cursor: pointer;
    }

    .logo-text {
      font-family: var(--font-primary);
      font-size: 24px;
      font-weight: bold;
      color: var(--color-black);
      cursor: pointer;
      margin-left: 10px;
    }
    .e-color{
      color: var(--color-light-blue);
    }

    .search-container {
      position: relative;
      flex-grow: 1;
      max-width: 500px;
      margin: 0 20px;
    }

    .search-input {
      width: 100%;
      padding: 10px 40px 10px 15px;
      border: 2px solid var(--color-light-blue);
      border-radius: 25px;
      font-size: 14px;
      font-family: var(--font-primary);
    }
      .search-input:focus{
       color: var(--color-dark-blue);
     }
    .search-button {
      position: absolute;
      font-size: 20px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      color: var(--color-light-blue);
    }

    .search-icon-mobile {
      display: none;
      font-size: 20px;
      color: var(--color-light-blue);
      cursor: pointer;
    }

#rezultateCauta {
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   
}

#rezultateCauta a {
    display: flex; 
    align-items: center; 
    padding: 8px;
    border-bottom: 1px solid var(--color-white); 
    text-decoration: none; 
    color: var(--color-black); 
    transition: background-color 0.2s ease; 
}

#rezultateCauta a:hover {
    background-color: #006a5f3a;
}

#rezultateCauta img {
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
    object-fit: contain; 
    border: 1px solid var(--color-white); 
    border-radius: 3px; 
}

#rezultateCauta p {
    margin: 0; 
}

#rezultateCauta p:first-of-type {
    font-weight: bold; 
    font-size: 14px;
}

#rezultateCauta p:last-of-type {
    color: var(--color-red); 
    font-size: 13px;
}


    .icons-container {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .icon-link {
      text-decoration: none;
      position: relative;
    }

    .icon-img {
      width: 30px;
      height: 24px;
      display: block;
    }

    .cart-count {
      position: absolute;
      top: 10px;
      right: -8px;
      background-color: var(--color-light-blue);
      color: var(--color-white);
      border: 1px solid;
      border-color: var(--color-white);
      border-radius: 50%;
      padding: 3px 6px;
      font-size: 12px;
    }

    .dropdown-icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    .profile-dropdown {
      position: relative;
    }

    .profile-icon {
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      top: 120%;
      background-color: var(--color-white);
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 4px;
    }

    .dropdown-content a {
      padding: 12px 16px;
      display: flex;
      align-items: center;
      color: var(--color-black);
      text-decoration: none;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    .dropdown-content a:hover {
      background-color:#00a1a91d;
    }

    .main-nav {
      border-top: 2px solid rgba(0, 95, 122, 0.3);
      border-bottom: 2px solid rgba(0, 95, 122, 0.3);
    }

    .nav-list {
      font-family: var(--font-primary);
      z-index: 100;
      display: flex;
      list-style: none;
      justify-content: center;
    }

    .nav-item {
      position: relative;
    }

    .nav-link {
      display: block;
      padding: 15px 25px;
      text-decoration: none;
      color: var(--color-black);
      font-weight: 500;
      transition: color 0.3s ease;
    }
    .dropdown-content{
      display: none;
    }

    .nav-link:hover {
      color: var(--color-light-blue);
      font-size: 17px;
    }

    .nav-link.active {
     color: var(--color-light-blue);
     font-size: 17px;

     }


     .nav-link.sale:hover {
      color: var(--color-light-blue);
      font-size: 17px;}


    .nav-link.sale {
      color: var(--color-red);
    }

    .nav-link.active {
      color: var(--color-light-blue);
      font-weight: bolder;
    }

    .menu-toggle {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 15px;
      font-size: 20px;
      color: var(--color-black);
      margin: 0 auto;
      width: 100%;
      text-align: center;
      font-family: var(--font-primary);
    }

/*slider*/

    .slider-container {
    position: relative;
    width: 100%;
    margin: -2px 0px;
    overflow: hidden;
    height: 700px;
  }

  .slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  .slider-image {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    height: 100%;
  }

  .slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-content {
    position: absolute;
    top: 320px;
    left: 55px;
    display: flex;
    width: 100%;
    padding: 0 20px;
    color: #fff;
  }

  .slider-text {
    font-family: var(--font-secondary);
    font-weight: bolder;
    max-width: 50%;
    text-align: left;
     margin: 40px ;
  }

  p.first {
    font-size: 40px;
  }

  p.second {
    margin: 0px 0 19px;
    font-size: 20px;
    opacity: 60%;
  }

  .slider-indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
  }

  .indicator {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .indicator.active {
    background-color: var(--color-light-blue);
  }

  .slider-nav {
    position: absolute;
    top: 40%;
    font-size: 69px;
    color: var(--color-light-blue);
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }

  .slider-nav.prev {
    left: 20px;
  }

  .slider-nav.next {
    right: 20px;
  }

  .slider-nav:hover {
    color: var(--color-dark-blue);
  }

  /*nota site*/
  .trustpilot {
    font-family: var(--font-secondary);
    padding: 10px 0;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }

  .trustpilot-stars {
    font-size: 13px;
    align-items: center;
  }
  .trustpilot-stars .star {
    margin: 0 2px;
  }
  .trustpilot-stars .green-light {
    color: #40C057;
  }
  .trustpilot-stars .empty {
    color: #67c00f;
    opacity: 30%;
  }

/*sectiunea produse */
    .deals-header {
        position: relative;
        margin-bottom: 30px;

    }

    .deals-header h2 , .popular-brands h2{
        font-size: 36px;
        font-weight: bold;
        margin-left: 60px;
        margin-top: 50px;
        font-family: var(--font-primary);
    }
  

    .deals-header::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 0px;
        width: 720px;
        height: 4px;
        background: linear-gradient(90deg, #009688, #4DB6AC);
    }
      .popular-brands h2{
      margin-top: -10px;
    }

    .deals-section {
        padding: 20px 0;
        background-color: #fff;
    }

    .deals-container {
        max-width: 1350px;
        margin: 0 auto;
        padding: 0 15px;
    }


    .deals-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }

    .product-card {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.3s ease;
    }

    .product-card:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }
    .product-image {
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .product-image img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .product-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        min-height: 60px;
        font-family: var(--font-secondary);
    }

    .stock-status {
        color: var(--color-light-blue);
        font-size: 14px;
        margin-bottom: 10px;
        font-family: var(--font-secondary);
    }

    .product-rating {
        color: #FFC107;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .rating-count {
        color:var(--color-black);
        font-size: 14px;
        margin-left: 5px;
        font-family:var(--font-secondary);
        font-weight: bold;
    }

    .product-price {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-family: var(--font-secondary);
        font-weight: bold;
    }

    .old-price {
        text-decoration: line-through;
        color: var(--color-black);
        margin-right: 10px;
    }

    .current-price {
        font-size: 22px;
        font-weight: bold;
        color:var(--color-red)
    }

    .add-to-bag {
        background-color: var(--color-light-blue);
        color: var(--color-white);
        border: none;
        border-radius: 4px;
        padding: 12px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin-top: auto;
        font-family: var(--font-secondary);
        font-weight: bold;
    }

    .add-to-bag:hover {
        background-color: var(--color-dark-blue);
    }

    .star-prod{
      width: 10px;
      height: 10px;
    }
/*sectiunea cart*/
    .cart-modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1001;
      justify-content: center;
      align-items: center;
    }

    .cart-content {
      background-color: var(--color-white);
      padding: 20px;
      border-radius: 8px;
      max-width: 600px;
      width: 90%;
      position: relative;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size:20px;
      cursor: pointer;
      border: none;
      background: none;
    }

    .cart-items {
      margin-bottom: 15px;
    }

    .cart-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--color-dark-blue);
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .cart-item img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-right: 10px;
    }

    .cart-item-details {
      flex-grow: 1;
    }

    .cart-item-title {
      font-weight: bold;
      font-size: 16px;
    }

    .cart-item-price {
      font-size: 14px;
      color: var(--color-red);
    }

    .cart-item-actions {
      display: flex;
      align-items: center;
    }

    .quantity-controls {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .quantity-button {
      background: none;
      border: 1px solid var(--color-dark-blue);
      padding: 2px 5px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .quantity {
      margin: 0 10px;
      font-size: 16px;
    }

    .remove-button {
      background: none;
      border: none;
      color: var(--color-red);
      cursor: pointer;
      font-size: 16px;
    }

    .cart-total {
      font-weight: bold;
      font-size: 18px;
      text-align: right;
      margin-bottom: 15px;
    }

    .checkout-button {
      background-color: var(--color-light-blue);
      color: white;
      border: none;
      border-radius: 4px;
      padding: 12px 20px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
    }

    .checkout-button:hover {
      background-color: #00445A;
    }

/*buton next page */
  .pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
    margin-bottom: -55px;
}

.pagination-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #999;
  border-radius: 999px;
  padding: 8px 16px;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 18px;
  gap: 12px;
}

.arrow {
  color: var(--color-light-blue);
  cursor: pointer;
  font-size: 20px;
}

.page-number {
  color: var(--color-black);
}
/*slider cu mercedes delivery*/
.slider-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;      
  padding: 20px;
}

  .delivery-title-slider{
    position: absolute;
    margin-left: -630px;
    margin-top: -40px;
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: 40px;
  }

  .delivery-text-slider{
    position: absolute;
    margin-right: 840px;
    margin-top: 39px;
    font-family: var(--font-secondary);
    color: var(--color-white);
    opacity: 74%;
    font-size: 28px;
  }

.slider-mini{
  display: none;
}

/*sectiunea branduri*/
.brands-section {
  padding: 20px;
}

.brands-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1390px;
  margin: 0 auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.brand-logo {
  flex-shrink: 0;
  width: 172px;
  height: 172px;
  margin: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo:hover {
  opacity: 1;
}

.brand-logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

/*sectiune newslatter*/

.newsletter-section {
  background-color: var(--color-light-blue);
  padding: 20px 80px;
  border-radius: 12px;
  max-width: 1335px;
  margin: auto;
  height: 200px;
  color: var(--color-white);
  font-family: var(--font-primary);
}

.newsletter-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.newsletter-text {
  flex: 1 1 850px;
}

.newsletter-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.newsletter-text ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.newsletter-text ul li {
  font-family: var(--font-secondary);
  font-weight:100;
  font-size: 16px;
  margin-bottom: 5px;
}

.newsletter-form {
  display: flex;
  max-width: 400px;
  margin-bottom: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--color-dark-blue);
  border-radius: 8px 0 0 8px;
}

.newsletter-form button {
  padding: 10px 40px;
  margin-left: -6px;
  font-size: 16px;
  font-weight: bold;
  background-color:var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius:8px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #006d90;
}

.disclaimer {
  opacity: 70%;
  font-family: var(--font-secondary);
  font-size: 10px;
  color: var(--color-white);
  max-width: 850px;
}
.terms{
  opacity: 100%;
}

.newsletter-image {
  margin-top: -237px;
  margin-left: 900px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-image img {
  max-height: 220px;
  object-fit: contain;
  transform: scaleX(-1);
}

/*sectiunea footer*/
.footer {
  background: url('footer.svg') no-repeat top center;
  height: 330px;
  background-size: cover;
  color: white;
  margin-top: 20px;
  font-family: var(--font-primary);
  padding: 100px 60px 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.3fr 0.6fr 1.3fr 1.3fr;;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}


.footer-col.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-col h4 {
  font-size: 18px;
}

.footer-col p,
.footer-col li {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
 font-family: var(--font-secondary);
}

.footer-col ul li a {
 color:var(--color-white);
 text-decoration: none;
}

.footer-col ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-col p {
  color:var(--color-white);
}

.footer-col p:hover {
 text-decoration: underline;
  cursor: pointer;
  
}


.footer-bottom {
  text-align: right;
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.8;
  max-width: 1300px;
  margin-inline: auto; 
  padding-right: 0px; 
}

.footer-bottom a {
  color:var(--color-white);
  text-decoration: underline;
}


   .favorite-notification {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border-radius: 4px;
      z-index: 9999;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.3s ease;
      display: none;
    }
    
    .favorite-notification.show {
      transform: translateY(0);
      opacity: 1;
    }

    .wishlist-icon{
      cursor: pointer;
    }


 .link-tv {
  text-decoration: none;
  color: inherit;
  border: none;
}

.social-icons img,
.payment-icons img {
  width: 30px;
  margin-right: 10px;
  margin-top: -10px;
}

.payment-icons img {
  margin-top: -30px;
}

.social-icons , .payment-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.social-icons a  , .payment-icons a {
    text-decoration: none;
    display: inline-flex;
}

.social-icons img , .payment-icons img {
    display: block;
    max-width: 40px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.payment-icons img:hover {
    transform: scale(1.1);
}


@media (max-width: 600px) {
    .social-icons , .payment-icons {
        gap: 10px;
    }
    .social-icons img , .payment-icons img{
        max-width: 30px;
    }
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 20px 40px;
    height: auto; 
    background: var(--color-dark-blue);
    background-size: auto;
    background-position: center; 
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px; 
  }

  .footer-col p,
  .footer-col li,
  .social-icons,
  .payment-icons,
  .footer-col.centered > *:not(h4) {
    display: none;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
  }

  .footer-col ul {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-col.open p,
  .footer-col.open li,
  .footer-col.open .social-icons,
  .footer-col.open .payment-icons,
  .footer-col.open > *:not(h4) {
    display: block; 
  }

  .footer-col h4 {
    cursor: pointer; 
    text-align: center; 
  }

  .footer-col.centered {
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    text-align: center; 
    padding: 20px;
  }

  .social-icons {
    justify-content: center; 
  }

  .payment-icons {
    justify-content: center; 
  }

       .delivery-title-slider{
    position: absolute;
    margin-left: -230px;
    margin-top: -15px;
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: 14px;
  }

  .delivery-text-slider{
    position: absolute;
    margin-right: 308px;
    margin-top: 22px;
    font-family: var(--font-secondary);
    color: var(--color-white);
    opacity: 74%;
    font-size: 8px;
  }
  }

    @media screen and (max-width: 768px) {
.newsletter-section {
  background-color: var(--color-light-blue);
  padding: 15px; 
  border-radius: 8px;
  max-width: 94%;
  margin: 15px auto; 
  height: auto;
}

.newsletter-content {
  flex-direction: column;
  gap: 15px; 
}

.newsletter-text {
  flex: 0 1 auto;
  text-align: center;
}

.newsletter-text h2 {
  font-size: 12px; 
  margin-bottom: 8px;
  font-weight: bold;
}

.newsletter-text ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0; 
}

.newsletter-text ul li {
  font-family: var(--font-secondary);
  font-weight:100;
  font-size: 10px;
  margin-bottom: 3px;
}

.newsletter-form {
  display: flex;
  flex-direction: column; 
  max-width: 100%;
  margin-bottom: 10px; 
}

.newsletter-form input {
  padding: 8px; 
  font-size: 12px; 
  border: 1px solid var(--color-dark-blue);
  border-radius: 6px; 
  margin-bottom: 8px; 
}

.newsletter-form button {
  padding: 8px 15px;
  margin-left: 0;
  font-size: 12px; 
  font-weight: bold;
  background-color:var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 6px; 
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #006d90;
}

.disclaimer {
  opacity: 70%;
  font-family: var(--font-secondary);
  font-size: 8px; 
  color: var(--color-white);
  max-width: 100%;
  text-align: center;
}

.newsletter-image {
  display: none;
}

     .brands-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
  }

  .brand-logo {
    scroll-snap-align: start;
    width: auto;
    max-width: 60%; 
    max-height: 100px;
    margin-right: 15px;
  }
    .brand-logo:last-child{
        margin-right: 0;
    }

      .pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
    margin-bottom: -45px;
}

.pagination-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #999;
  border-radius: 999px;
  padding: 4px 8px;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 14px;
  gap: 12px;
}

.arrow {
  color: var(--color-light-blue);
  cursor: pointer;
  font-size: 16px;
}

.page-number {
  color: var(--color-black);
}

 
    .slider-mini{
  display: flex;

  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;      
  padding: 20px;
   }

   .slider-big{
    display: none;
   }
  

      .trustpilot {
        display: none;
      }

      .slider-container {
        height: 300px;
      }

      .slider-content {
        position: absolute;
        top: 110px;
        left: 35px;
        display: flex;
        width: 100%;
        padding: 0 20px;
        color: var(--color-white);
      }

      .slider-text {
        font-family: var(--font-secondary);
        font-weight: bolder;
        max-width: 50%;
        text-align: left;
        margin: 40px;
      }

      .slider-nav {
        position: absolute;
        top: 35%;
        font-size: 49px;
        color: var(--color-light-blue);
        cursor: pointer;
        padding: 10px;
      }

      .indicator {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
      }

      .slider-indicators {
        bottom: 15px;
      }

      p.first {
        font-size: 15px;
      }

      p.second {
        margin: 0px 0 19px;
        font-size: 10px;
        opacity: 65%;
      }

      .search-container {
        display: none;
      }

      .search-icon-mobile {
        display: block;
        margin-right: 15px;
      }

      .top-bar {
        justify-content: space-between;
        position: relative;
      }

      .logo-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .icon-link{
        display: none;
      }

      .profile-dropdown {
        display: block;
      }

      .profile-dropdown .dropdown-content {
        right: 0;
      }

      .dropdown-content a {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .menu-toggle {
        display: block;
      }

      .nav-list {
        display: none;
        text-align: center;
        flex-direction: column;
      }

      .nav-link:hover {
        background-color:#00a1a91d;
      }

      .nav-link.sale:hover {
        background-color:#00a1a91d;
        color:var(--color-light-blue)
      }

      .nav-list.active {
        display: flex;
      }

      .deals-header h2 , .popular-brands h2{
        font-size: 26px;
        margin-left: 20px;
    }

    .deals-header::after {
        width: 280px;
        top: 27px;
    }
    
      .deals-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }

      .product-card {
        padding: 15px;
      }

      .product-image {
        height: 120px;
        margin-bottom: 10px;
      }

      .product-title {
        font-size: 14px;
        min-height: auto;
        margin-bottom: 5px;
      }

      .stock-status {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .product-rating {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .rating-count {
        font-size: 12px;
      }

      .product-price {
        margin-bottom: 10px;
      }

      .current-price {
        font-size: 18px;
      }

      .add-to-bag {
        padding: 10px;
        font-size: 14px;
      }

      .cart-content {
        width: 95%;
        max-width: none;
        margin: 10px;
      }

      .cart-item img {
        width: 60px;
        height: 60px;
      }

      .cart-item-title {
        font-size: 14px;
        margin-bottom: 10px;
      }

      .cart-item-price {
        font-size: 12px;
      }

      .quantity-button {
        padding: 3px 6px;
        font-size: 12px;
      }

      .quantity {
        margin: 0 5px;
        font-size: 14px;
      }

      .remove-button {
        font-size: 14px;
      }

      .cart-total {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .checkout-button {
        padding: 10px 15px;
        font-size: 14px;
      }
    
    }